.idea/**

**.txt
!src/szozat_solver/magyar_szavak.txt
!usable_words_en.txt
!requirements.txt
!src/szoat_solver_petrusjt.egg-info
!src/szozat_solver_petrusjt.egg-info/*

**/__pycache__

dist
build
dist/**
build/**
solver_gui.spec
venv
venv/*
venv-szozat-solver
venv-szozat-solver/*